.App {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
}

.calculatorContainer {
  width: 380px;
  box-sizing: border-box;
  display: flex;
  gap: 1px;
  flex-direction: column-reverse;
  padding: 2px;
  border: 1px solid grey;

}

.row {
  display: flex;
  width: 100%;
  gap: 1px;
  box-sizing: border-box;

}
