.App {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
}
.calculatorComponent {
  width: 380px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 2px;
  border: 1px solid grey;
}
.buttonsContainer {
  width: 100%;
  display: flex;
  gap: 1px;
  flex-direction: column-reverse;
}

.row {
  display: flex;
  width: 100%;
  gap: 1px;
  box-sizing: border-box;
}
